*{
    padding:0px;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: white;
}
.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover {
color: white;
background-color: rgb(233, 20, 109);
text-decoration: none;
}

/* main section */
.main{
    background: url()no-repeat;
    background-size: cover;
    width: 100%;
    height: 95vh;
}
.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}
.main h6{
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(233, 20, 109);
    width: 50%;
}

.main .bt1, .bt2{
    height: 55px;
    width: 138px;
    background-color: rgb(233, 20, 109);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}
.main .bt1:hover{
    background-color: rgb(202, 18, 95);
}

.main .bt2:hover{
    background-color: rgb(202, 18, 95);
    transition: 0.5s;
}
/* 
about */

.about img{
    -webkit-box-shadow: 5px 0px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 0px 21px 0px rgba(0,0,0,0.75);
box-shadow: 5px 0px 21px 0px rgba(0,0,0,0.75); 
}
/* levels */
.progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
    margin: 20px;
    -webkit-box-shadow: 23px -4px 194px -42px rgba(0,0,0,0.75);
    -moz-box-shadow: 23px -4px 194px -42px rgba(0,0,0,0.75);
    box-shadow: 23px -4px 194px -42px rgba(0,0,0,0.75);

}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 50px;
    width: 0;
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 50px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 50px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 50px;
    width: 0;
}
.progress p{
    color: white;
    padding: 15px;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 88%;
    }
}
@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 68%;
    }
}
@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 78%;
    }
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
}
.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}

.btn2{
    height: 40px;
    width: 145px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}

.btn2:hover{
    background-color: black;
    color: white;
    border: none;
    transition: 0.5s;
}

.card{
    border: none;
    outline: none;
    -webkit-box-shadow: 16px 30px 93px -31px rgba(0,0,0,0.65);
    -moz-box-shadow: 16px 30px 93px -31px rgba(0,0,0,0.65);
    box-shadow: 16px 30px 93px -31px rgba(0,0,0,0.65);
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 50%;
}

.card:hover .circle{
    background-color: black;
    color: white;
    transition: 0.5s;
}